@import '../../styles/variables';

.header {
  max-width: 1200px;
  padding: 1.5rem;

  .header__title h1 {
    padding: 0.5rem 0;
  }

  .breadcrumbs__container {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;

    .breadcrumbs__item {
      font-size: 0.875rem;
      display: flex;
      align-items: center;
      color: $secondary-lighter-color;

      span {
        margin: 0 5px;
      }
    }
  }
}
