<header class="header">
  <div class="breadcrumbs__container">
    <p *ngIf="currentRoute === '/addNewEmployee'; else staticHome">
      <a routerLink="/">Home</a>
    </p>
    <ng-template #staticHome>
      <p class="breadcrumbs__item">Home</p>
    </ng-template>
    <ng-container *ngIf="currentRoute === '/addNewEmployee'">
      <p><span> > </span> Add new employee</p>
    </ng-container>
  </div>

  <div
    class="header__title"
    *ngIf="currentRoute === '/'; else addNewEmployeeTitle"
  >
    <h1>Employees</h1>
    <p>
      This is a list of employees. You can sort it or search by name and filter
      by position.
    </p>
  </div>
  <ng-template #addNewEmployeeTitle>
    <h1>Add new employee</h1>
  </ng-template>
</header>
