@import "../../../styles/variables";

.search__container {
  width: fit-content;

  form {
    display: flex;
    align-items: center;
    position: relative;

    .search__icon {
      position: absolute;
      height: 15px;
      margin: 0 4px;
    }

    input {
      width: 100%;
      padding: 0.375rem 1.5rem;
      border: 1px solid $secondary-lighter-color;
      border-radius: 7px;
    }
  }
}
